:root {
    /* Colours */
    --primary: #05080F;
    --secondary: #14213D;
    --tertiary: #2EC4B6;
    --quarternary: #C6E0E6;
    --another-blue: #BEE3DB;
    /* Font sizes */
    --salutation: 4rem;
    --name: 5rem;
    --heading: 5rem;
    --aboutText: 3rem;
    --resume: 3rem;
    --eduTypenName: 1.5rem;
    --eduDuration: 1.5rem;
    --designation: 2rem;
    --period: 1.8rem;
    /* Fonts */
    /* Other sizes */   
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 0 10vh;
}

/* Navbar */

nav {
    height: 12vh;
    background-color: var(--another-blue);
}

.nav-link {
    font-size: 1.5rem;
}

/* Landing section */

.landingSection {
    height: 88vh;
    padding: 8vh 8vw;
    margin-top: 12vh;
    background: linear-gradient(180deg, var(--another-blue) 9.38%, rgba(255, 255, 255, 0) 100%);
}

.salutation {
    font-size: var(--salutation);
}

.name {
    font-size: var(--name);
    font-weight: 500;
}

.socialIcons {
    display: flex;
    justify-content: space-between;
}

.socialLink {
    font-size: 3rem;
    color: var(--secondary)
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 12vh;
    background: #BEE3DB;
    border-radius: 15.7197px;
    margin: 44.9135px 0px;

    font-weight: 500;
    font-size: var(--resume);
    color: #656565;
}

.displayPic {
    width: 35vw;
    height: auto;
    border: 13.8687px solid #BEE3DB;
    border-radius: 100%;
}

/* About Me */

.heading {
    margin-top: 2vh;
    font-weight: 200;
    font-size: var(--heading);
    line-height: 94px;
    color: var(--secondary);
    text-shadow: 4px 4px 14px #14213D;
}

.aboutText {
    padding: 20vh;
    font-weight: 300;
    font-size: var(--aboutText);
    line-height: var(--aboutText);
}

/* Education */

.timeLine {
    width: 42vw;
    padding: 2vh 2vw;
    position: relative;
}

.eduCard {
    display: flex;
    flex-direction: row;
    margin: 5vh 0;
}

.eduInfo {
    margin-left: 2vw;
}

.eduDuration {
    padding: 10px;
    width: 10vw;
    height: 7vh;
    background: var(--tertiary);
    border-radius: 5px;
    font-size: var(--eduDuration);
    line-height: var(--eduDuration);
}

.line {
    position: absolute;
    left: 6.5vw;
    top: 7vh;
    height: 60%;
    width: 10px;
    z-index: -1;
}

.eduType {
    font-weight: 500;
}
.eduType, .eduName {
    font-size: var(--eduTypenName);
    line-height: var(--eduTypenName);
    margin-bottom: 1vh;
    color: #000000;
}
.eduLocation {
    font-size: 1.2rem;
    color: #656565;
}

/* Experience */

.exp {
    background-color: var(--tertiary);
    width: 53vw;
    height: 30vh;
    margin: 10vh auto;
    padding: 4vh 5vw;
}

.workLogo {
    width: 10vw;
    height: auto;
}

.workDesignation {
    font-weight: 500;
    font-size: var(--designation);
    line-height: 40px;
}

.workName {
    font-weight: normal;
    font-size: var(--designation);
    line-height: var(--designation);
}

.workPeriod {
    font-weight: normal;
    font-size: var(--period);
    line-height: var(--period);
    color: #FFFFFF;
}

/* Skills */
/* Projects */

.projectSection {
    height: 88vh;
}

@media screen and (max-width: 768px) {
    :root {
        /* Font sizes */
        --salutation: 2rem;
        --name: 3rem;
        --heading: 4rem;
        --aboutText: 1.5rem;
        --resume: 2rem;
        --eduTypenName: 1.3rem;
        --eduDuration: 1.3rem;
        --designation: 1.5rem;
        --period: 1rem; 
        /* Fonts */
        /* Other sizes */   
    }    
    nav {
        height: unset;
    }
    section {
        padding: 1vw;
    }
    .landingSection {
        margin-top: 9vh;
    }
    .resume {
        width: 40vw;
    }
    .aboutText {
        padding: 0;
    }
    .timeLine {
        width: 98vw;
    }
    .eduDuration {
        width: 20vw;
        height: 10vh;
    }
    .line {
        left: 10vw;
        top: 9vh;
        height: 60%;
    }
    .exp {
        width: 95vw;
    }
    .workLogo {
        width: 100%;
    }
}