:root {
    /* Colours */
    --primary: #05080F;
    --secondary: #14213D;
    --tertiary: #2EC4B6;
    --quarternary: lawngreen;
    /* Font sizes */
    --salutation: 5rem;
    --name: 6rem;
    --heading: 5rem;
    /* Fonts */
    /* Other sizes */   
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 0 10vh;
}

/* Navbar */

nav {
    height: 12vh;
    padding: 15px;
    position: fixed;
}

.nav-link {
    font-size: 1.5rem;
}

/* Landing section */

.landingSection {
    height: 85vh;
    padding: 10vh;
    margin-top: 12vh;
    background: linear-gradient(180deg, #BEE3DB 9.38%, rgba(255, 255, 255, 0) 100%);
}

.salutation {
    font-size: var(--salutation);
}

.name {
    font-size: var(--name);
    font-weight: 500;
}

.socialIcons {
    display: flex;
    justify-content: space-between;
}

.socialLink {
    font-size: 3rem;
    color: var(--secondary)
}

.resume {
    padding: 22.4567px;
    width: 287.45px;
    height: 99.93px;
    background: #BEE3DB;
    border-radius: 15.7197px;
    margin: 44.9135px 0px;

    font-weight: 500;
    font-size: 3rem;
    line-height: 55px;
    color: #656565;
}

.displayPic {
    width: 35vw;
    height: auto;
    border: 13.8687px solid #BEE3DB;
    border-radius: 100%;
}

/* About Me */

.heading {
    font-weight: 200;
    font-size: var(--heading);
    line-height: 94px;
    color: var(--secondary);
    text-shadow: 4px 4px 14px #14213D;
}

.aboutText {
    padding: 20vh;
    font-weight: 300;
    font-size: 35px;
    line-height: 41px;
}

/* Education */

.timeLine {
    width: 42vw;
}

/* Experience */

.exp {
    background-color: var(--tertiary);
    width: 53vw;
    height: 30vh;
    margin: 10vh auto;
    padding: 4vh 5vw;
}

.workLogo {
    width: 10vw;
    height: auto;
}

.workDesignation {
    font-weight: 500;
    font-size: 33.8346px;
    line-height: 40px;
}

.workName {
    font-weight: normal;
    font-size: 33.8346px;
    line-height: 40px;
}

.workPeriod {
    font-weight: normal;
    font-size: 28.1955px;
    line-height: 33px;
    color: #FFFFFF;
}

/* Skills */
/* Projects */

.projectSection {
    height: 88vh;
}